@{
    ViewData["Title"] = "Welcome Page";
}

<div>
    <p>Manage the <a asp-controller="Vendor" asp-action="Vendors">vendors</a> or <a asp-controller="Vendor" asp-action="GetAddVendorRequest">add a new vendor</a></p>
</div>
